{% extends 'base.html.twig' %}

{% block title %}OAFM{% endblock %}
{% block additionalStuff %}
<script type="text/javascript" src="https://unpkg.com/moment@latest"></script>
<script type="text/javascript" src="https://unpkg.com/vis-data@latest/peer/umd/vis-data.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/peer/umd/vis-timeline-graph2d.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/vis-timeline/styles/vis-timeline-graph2d.min.css" />
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 5%;">
      <h2>Timetables</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <h3>Per Transport</h3>
    <div id="visualizationptrsp"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <h3>Per Vehicle</h3>
    <div id="visualizationpvhc"></div>
    </div>
  </div>
</div>
<script src="/js/timetable.js" charset="utf-8"></script>
{% endblock %}
